<thf-page-default  
  t-title="Dashboard"
  [t-breadcrumb]="breadcrumb">

  <div class="thf-row">
    <thf-kendo-chart
      class="thf-lg-12 thf-mt-0"
      [t-label-visible]="showLabels"
      [t-series]="conquistas"
      t-height="300"
      t-title="Últimas Conquistas"
      t-type="column" >
    </thf-kendo-chart>
  </div>

  <!-- (t-series-click)="searchMore($event)" -->
  <div class="thf-row">
    <thf-chart
      class="thf-lg-6 thf-mt-1"
      t-title="Situação de Avisos (últimos 12 meses)"
      [t-series]="situacaoAviso">
    </thf-chart>
  
    <thf-chart
      class="thf-lg-6 thf-mt-1"
      t-title="Tipos de Pregões (últimos 12 meses)"
      [t-series]="pregoes">
    </thf-chart>
  </div>
  <!-- (t-series-click)="showMeTheDates($event)" -->

  <div class="thf-row">
    <thf-kendo-chart
      class="thf-lg-12 thf-mt-1"
      [t-label-visible]="showLabels"
      [t-series]="rangeBarData"
      t-max-value=30
      t-min-value=0
      t-height="400"
      t-title="Processos do mês"
      t-type="rangeBar" >
    </thf-kendo-chart>
  </div>

</thf-page-default>