<div class="thf-wrapper">
  <thf-toolbar t-title="MedLevensohn | Gestão de Licitações"></thf-toolbar>

  <thf-menu 
    t-filter
    [t-menus]="menus"
    [t-logo]="logotipo" >

    <!-- <ng-template t-menu-header-template class="thf-p-2 thf-font-title sample-menu-header-text-color">
      <h3>{{menuItemSelected}}</h3>
    </ng-template> -->

  </thf-menu>

  <router-outlet></router-outlet>
</div>
