<thf-page-default 
  [t-title]="titulo"
  [t-actions]="actions"
  [t-breadcrumb]="breadcrumb">

  <thf-dynamic-form #dynamicForm 
    [t-fields]="fields" 
    [t-value]="data">
  </thf-dynamic-form>

</thf-page-default>